:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #64a19d;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #64a19d;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  *{
    padding:0px;
    margin:0px;
  }
.nav-heading{
  display:flex;
  flex-direction:column;
  position:fixed;
  z-index:2;
  width:100%;
  top:0;
  
}
  .nav-heading .header{
    display:block;
    font-family:'Dancing Script', cursive;
    letter-spacing:2px;
    word-spacing:3px;
    font-weight:600;
    font-size:1.5rem;
    text-align:center;
    flex:1;
    background-color:thistle;
  }
  .nav-heading nav{
    display:flex;
    background-color:#000;
    padding:10px;
    flex:1;
    
  }
  nav .container{
    display:block;
    flex:2;
    text-align:right;
  }
  nav .icon{
    display:block;
    flex:1;
    padding:0px 0px 0px 0px !important; 
    font-weight:900;
    text-align:left;
    font-family:'Dancing Script', cursive;
    font-size:2rem;
    color:#fff;
  }
  nav ul li {
    display:inline-block;
    width:100px;
    list-style:none;
    margin-right:50px;
    text-align:center;
  }
  nav ul li::after{
    content:'';
    display:block;
    background-color:#fff;
    width:0%;
    height:3px;
    transition:0.5s;
  }
  nav ul li:hover::after{
    width:100%;
  }
  li a{
    text-decoration:none;
    font-size:15px; 
  }
  nav .fa{
    visibility:hidden;
    display:block;
    color:#fff;
  }
  @media (max-width:767px){
    nav .fa{
      visibility:visible;
      font-size:2rem;
    }
    nav .container{
      display:block;
      position:absolute;
      height:100vh;
      box-sizing:border-box;
      top:0;
      background-color:#000;
      right:-15rem;      
      width:15rem; 
      
        }
        nav ul li{
          display:block;
          padding:20px;
          padding-left:0px;
          box-sizing:border-box;
          text-align:left;
          margin-left:10px;
        }
        nav ul li:hover::after{
           width:100%;
        }

  }
  /* grid */
   img {
     max-width:100%; 
   } 
   body,html {
    font-family: 'Roboto', sans-serif;
    background: #ecf0f1;
     overflow-x:hidden; 
}
  .container-1{
    display:grid;
    grid-template-columns:1fr 2fr 1fr 1fr; 
    grid-template-rows:2fr 1fr; 
     grid-gap:5px; 
    margin:6rem 1rem;
    grid-template-areas:
    'item-1 item-2 item-2 item-5'
    'item-1 item-3 item-4 item-6';
     
  }
  .item-1{
    grid-area:item-1;
   border:solid 2px #000;
   height:inherit;  
   background-image:linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.5)),url("../img/img9.jpg");
   background-repeat:no-repeat;
   position:center;
   background-size:cover;
    }
  .item-2{
    grid-area:item-2;
    background-image:linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.5)),url("../img/img8.jpg");
    height:56vh;
    border:solid 2px #000;
    background-repeat:no-repeat;
    position:center;
    background-size:cover;
  }
  .item-2 .cont{
    display:flex;
    padding:30px 10px;
    justify-content:center;
    flex-direction:column;
  }
 .cont .cont1{
    display:block; 
    flex:1;
    text-align:center;
    font-family:'Dancing Script', cursive;
    word-spacing:0.4rem;
    font-size:1.8rem;
    font-weight:900;
    color:#fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
  }
  .cont .cont2{
    display:block;
    flex:1;
    padding:20px;
    text-align:center;
   } 
   .cont .cont3{
     display:block;
     flex:1;
     text-align:center;
     margin:1rem;
     color:#fff;
     word-spacing:0.4rem;
     font-weight:bold;
     font-size:1.5rem;
     text-shadow: -1px -1px 0 #6610f2, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
   }
   .cont .cont4{
     display:block;
     flex:1;
     text-align:right;
     color:#fff;
     font-size:1rem;
   }
  input{
    width:300px;
    height:30px;
  }
  .item-3{
    grid-area:item-3;
    border:solid 2px #000;
    background-image:url("../img/img11.jpg");
    background-size:cover;
    background-repeat:no-repeat;
  }
  .item-4{
    grid-area:item-4;
   border:solid 2px #000;
   background-image:url("../img/img10.jpg");
   background-size:cover;
   background-repeat:no-repeat;
   background-position:center;
    }
  .item-5{
    grid-area:item-5;
    border:solid 2px #000 ;
    background-image:url("../img/img13.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .item-6{
    grid-area:item-6;
    border:solid 2px #000;
    background-image:url("../img/img12.jpg");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  @media only screen and (max-width:768px){
    .container-1{
       grid-template-columns:1fr 1fr; 
       grid-template-rows:1fr/2.5rem 1fr/2.5rem; 
       margin-top:6rem;
       grid-gap:5px;
       margin-left:0.7rem;
       margin-right:0rem;
      grid-template-areas:
      'item-2 item-2'
      'item-6 item-5'
  }

}
@media only screen and (max-width:375px){
  .cont .cont1{
    word-spacing:0.4rem;
    font-size:1.2rem;
    font-weight:900;
    color:#fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
  }
  .cont .cont3{
    word-spacing:0.2rem;
    font-size:0.9rem;
    font-weight:900;
    color:#fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
  }
  .cont .cont4{
    font-size:0.8rem;
  }
  input{
    width:200px;
    height:30px;    
  }
}
@media only screen and (max-width:280px){
  input{
    width:180px;
    height:30px;    
  }

}
