:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #64a19d;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #64a19d;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  *{
    padding:0px;
    margin:0px;
  }
  nav{
    display:flex;
    padding:5px;
    width:100%;
    position:fixed;
    background-color:#000;
    z-index:1;
    justify-content:space-between;
  }
  .brand-cont{
    flex:1 0 auto;
  }
  .brand-cont .nav-brand{
    display:inline-block;
    box-sizing:border-box;
    padding:10px;
    width:200px;
    margin-left:20px;
    color:#fff;
    font-weight:bold;
    letter-spacing:2px;
  }
  .link-cont{
   flex:1 0 auto;
   text-align:right;
 }
  .link-cont ul li{
    display: inline-block;
    box-sizing:border-box;
    padding:10px;
    width:100px;
    text-align:center;
    margin-right:20px;
    list-style:none;
    position:relative;
  }
  li a{
    text-decoration:none;
    color:#fff;
  }
  /* icons */
  nav .fa{
    visibility:hidden;
  }

 @media(max-width:700px){
  
   .link-cont ul li{
     display:block;
     padding:20px;
     padding-left:0px;
   }
    .link-cont{
      right:0;
     width:200px;
     background-color:#000;
     position:absolute;
     top:0; 
     height:50vh;
     margin-right:-200px
   }
  .link-cont ul li:hover ::after{
    content:'';
    width:100%;
    height:3px;
    background-color:#fff;
    display:block;
  }
  nav .fa{
    visibility:visible;
    color:#fff;
    font-size:20px;
    display:block;
    margin:10px;
    cursor:pointer;
  }
  }
  @media(max-width:767px){
   #design{
    cursor:default;
    position:relative;
    top:0px;
    left:0px;
    width:1600px;
    height:800px;
  overflow:hidden;
  }
  }
  @media(min-width:767px){
    #design{
      cursor:default;
      position:relative;
      top:0px;
      left:0px;
      width:1600px;
      height:800px;
    overflow:hidden;
    }
  }
  /* about section */
  h1{
    margin:10px;
    display:block;
    padding:10px;
    color:#dc3545;
    text-align:center;
    letter-spacing:2px;
  }
  .row{
    display:flex;
    padding:10px;
    margin:10px;
    background-color:#fff;
  }
  .col{
     flex:1;
     display:block;
     margin:5px;
     text-align:center;
  }
  .item1{
    flex:1;
    background-color:#000;
    height:150px;
    width:300px;
    background:cover;

  }
  .item2{
    flex:4;
    font-family:'Bree Serif', serif;
    font-size:25px;
    font-weight:300;
    letter-spacing:1px;
    word-spacing:5px;
  }
  @media(max-width:767px){
    .row{
      flex-direction:column;
      justify-content:center;
    }
    .item1{
      height:150px;
      width:180px;
    }
    .item2{
      font-size:20px;
    }
    h1{
      font-size:22px;
    }
  }